body {
    font-family: 'Courier New';
    background-color:#567d46;
  }
  
  .header-list a {
    list-style: none;
    font-size: 15px;
    text-align: center;
    padding: 30px 20px;

    color:white;
  }
  
  .header{
    background-color:#567d46;
    text-align: center;
    height: 160px;
    font-size: 40px;
  }
  
  .header-logo{
    font-family: 'Lucida Sans';
    font-size: 40px;
    float: center;
    padding: 20px 60px
  
  }
  
  .main{
    background-color:#567d46 ;
  }
  
  .footer{
    background-color:#567d46;
    height: 120px;
  }
  
  h1 {
    text-align: center;
    color:#87ceeb;
  }
  h2 {
      text-align: center;
      color:#87ceeb
  }
  
